
@font-face {
    font-family: 'AmsterdamOne';
    src: url('/fonts/AmsterdamOne-eZ12l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .amsterdam-one {
    font-family: 'AmsterdamOne', sans-serif;
  }
